html{
    background-color: transparent;
    background-color: black;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: 22% 80%;
    justify-content: space-between;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 2px;
}


.icono{
    color: white;
}
aside{
    background-color:black;
    margin-top: 5px;
    height: 1024px;
    margin-left: 5px;
    position: fixed;
    border: 1px solid white;
    padding-right: 30px;
    border-left: 1px solid white;
   
}
.logo{
    margin-left: 0px;
    color: rgb(204, 146, 156);
    padding-top: 15px;
    margin-left: px;
}
.titulo{
    display: grid;
    grid-template-columns: 18% 80%;
    justify-content: space-between;
    font-size: 40px;
    padding-top: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(204, 146, 156);
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo2{
    display: grid;
    grid-template-columns: 18% 80%;
    justify-content: space-between;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: center;
   color: white;
}

.publicidad{
    font-size: 15px;
   
    margin-bottom: 70px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgba(240,196,203,0.9);
    color: black;
    border: 1px solid white;
    border-radius: 10%;
}
.secciones{
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 10% 85%;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secciones:hover{background-color:rgba(240,196,203,0.5);}
.seccion{
    margin-left: 15px;
}
.seccion a{
    text-decoration: none;
    color: white;
}
.p1{
    margin-top: 50px;
    color: white;
    font-size: 18px;
    margin-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.personales{
    margin-top: 0px;
    color: white;
    font-size: 18px;
    margin-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.aside{
    width: 15%;

}


.buscador {
    position: relative;
    width: 95%;
     display: grid;
     grid-template-columns: 2% 90% 2% 2%;
     justify-content: space-around;
     background-color: rgba(40,41,41,0.7);
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 5px;
     border: 0.5px solid white;
     height: 40px;
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     }
  
  .buscador .icon {
    position: absolute;
    top: 47%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    padding-bottom: 25px;
  }
  
  .buscador .input-text {
    width: 93%;
    border: 0px;
    background-color: #fff;
    height: 20px;
    padding: 8px 8px 8px 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: white;
    background-color: rgba(40,41,41,0.7);
    border: 1px solid rgba(255, 255, 255, 0.3)
   
  }
  .buscador .input-text:focus {
    width: 80%;
    background-color:rgba(255, 191, 216, 0.856);
  }

.usuario{
    margin-top: 5px;
}
.buscar{
    margin-top:4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subtitulo{
    display: grid;
    grid-template-columns: 90% 3% 3%;
    justify-content: space-around;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 70px;
    margin-bottom: 30px;
    border: 0.5px solid white;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flecha{
    margin-top: 5px;
}


.imagenplaylist{
    width: 270px;
    margin: auto;
    margin-left: 0px;
    height: 260px;
    border-radius: 50%;
}
.imagenplaylist:hover{
    border: 4px solid  rgba(255, 191, 216, 0.856); ;
}
.slide{
    color: black;
}
.slide:hover{
    border: 4px solid rgba(255, 191, 216, 0.856);
    

}
.contenedor{
    margin-left: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
}
h3.textoslide{
    color: white;
   background-color: black;
   
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
}
.imagencancion{
    filter: grayscale(100%);
}
.option{
    display: none;
}
.especial{
    color: rgba(204, 146, 156,0.856);
    text-decoration: underline overline rgba(204, 146, 156,0.856);;
}

@media (max-width: 320px){
    aside{
        display: none;
    }
    .option{
       background-color: rosybrown;
       border-radius: 10px 10px 10px 10px;
         display: block;
        color: white;
        margin: 0 auto;
        position: fixed;
        padding-top: 5px;
        padding-left: 5px;
        width: 25px;
     border-radius: 10px 10px 10px 10px;
     background-color: rosybrown;
        height: 25px;
        margin-left: 270px;
    }
}